.scrolling-paper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/src/hospital_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
  }
  
  .scrolling-paper__content {
    height: 100%;
    overflow-y: scroll;
  }